<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #282828;">
  <img src="../../assets/images/Logo.svg">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-light" style="margin-top: 4px;">
        <img src="../../assets/images/ico_dashboard.svg">&nbsp; Dashboard
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item text-light active" style="margin-top: 4px; color: #f8af3c !important;">
        <img src="../../assets/images/ico_users.svg">&nbsp; Users
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item text-light" style="margin-top: 4px;">
        <img src="../../assets/images/ico_sessionmanager.svg">&nbsp; Session Manager
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 text-light">
      <img src="../../assets/images/ico_notification.svg">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="../../assets/images/ico_user.svg">&nbsp; John Smith &nbsp;&nbsp;&nbsp;
      <img src="../../assets/images/ico_downarrow.svg">
    </div>
  </div>
</nav>